= text_control scraper, :link_block_selector, namespace:, required: true
= text_control scraper, :anchor_selector, namespace:, required: true
= text_control scraper, :blurb_selector, namespace:, required: true

p # TODO cleanup regexes
