@layer components {

  .CloneableControl {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);

    .clone {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: var(--size-2);
    }
  }

}
