@layer components {

  .Form {
    max-width: var(--size-content-3);
    padding: var(--space-standard);

    &, & > fieldset {
      display: flex;
      flex-direction: column;
      gap: var(--space-standard);
    }

    .StandardControl {
      display: flex;
      flex-direction: column;
      gap: var(--space-smaller);

      label, input:not([type="radio"], [type="checkbox"]) {
        display: block;
        width: 100%;
      }

      label:has(> input[type="radio"], > input[type="checkbox"]) {
        display: flex;
        flex-direction: row;
        gap: var(--space-smaller);
        align-items: center;

        + & {
          margin-block-start: var(--size-1);
        }
      }

      &:has(> .ValidationErrors) input {
        border: 3px solid var(--color-error);
      }
    }

    .hide-if-disabled[disabled] {
      display: none;
    }
  }

}
