@layer components {

  .HeroSearch {
    display: grid;
    place-content: center;
    margin-block-start: var(--size-10);
    margin-block-end: var(--size-11);
    margin-inline: var(--size-4);
    text-align: center;

    input[type="search"] {
      margin-block-start: var(--size-6);
      font-size: var(--font-size-larger);
      padding-inline: var(--size-3);
      padding-block: var(--size-2);
      min-width: var(--size-content-2);
    }
  }

}
