@layer components {

  .RecentIssues {
    h1, h2, h3, h4, h5, h6 {
      display: flex;
      align-items: baseline;
      margin-block-end: var(--space-smaller);
      max-inline-size: none;

      span {
        flex-grow: 1;
      }
      .show-all {
        flex-grow: 0;
      }
    }

    .issues {
      background-color: var(--surface-2);
      border-radius: var(--radius-standard);
      box-shadow: var(--shadow-standard);
      padding: var(--space-standard);
      display: flex;
      flex-direction: column;
      gap: var(--size-1);

      a {
        font-size: var(--font-size-smaller);
      }
    }
  }

}
