@layer components {

  .RecentIssues {
    .issues {
      display: flex;
      flex-direction: column;
      gap: var(--size-1);

      a {
        font-size: var(--font-size-smaller);
      }
    }
  }

}
