@layer components {

  .ValidationErrors {
    padding: var(--space-smaller);
    border-radius: var(--radius-standard);
    background-color: var(--color-error);
    color: var(--text-color-1);

    li {
      font-size: var(--font-size-smaller);
    }
  }

}
