@layer components {

  .ValidationErrors {
    padding: var(--space-smaller);
    background-color: rgb(from var(--color-error) r g b / 0.2);
    border-radius: var(--radius-standard);
    color: var(--color-error);

    li {
      font-size: var(--font-size-smaller);
    }
  }

}
