@layer reset {

  *, *:before, *:after {
    box-sizing: border-box;
  }

  ul, ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  li {
    padding-inline-start: 0;
  }

  p, li, dd, figcaption, ul, ol, dl,
  h1, h2, h3, h4, h5, h6 {
    max-inline-size: none;
  }

}
